<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>고객 정보 조회</h3>
<hr>
<form th:action="@{/main16/sub3}">
    <label>
        ID
        <input type="number" name="id" th:value="${param.id}">
    </label>
    <button>조회</button>
</form>
<hr>
<div th:if="${customerDto == null}">
    조회된 결과가 없습니다.
</div>
<div th:if="${customerDto != null}" th:object="${customerDto}">
    <!--    div*7>label>input[readonly]-->
    <div>
        <label>
            ID
            <input type="text" readonly th:value="*{id}">
        </label>
    </div>
    <div>
        <label>
            이름
            <input type="text" readonly th:value="*{name}">
        </label>
    </div>
    <div>
        <label>
            계약명
            <input type="text" readonly th:value="*{contactName}">
        </label>
    </div>
    <div>
        <label>
            주소
            <input type="text" readonly th:value="*{address}">
        </label>
    </div>
    <div>
        <label>
            도시
            <input type="text" readonly th:value="*{city}">
        </label>
    </div>
    <div>
        <label>
            우편번호
            <input type="text" readonly th:value="*{postalCode}">
        </label>
    </div>
    <div>
        <label>
            국가
            <input type="text" readonly th:value="*{country}">
        </label>
    </div>

    <div>
        <button form="delete-form">삭제</button>

        <div style="display: none">
            <!--   post /main16/sub3   -->
            <form id="delete-form" method="post" th:action="@{/main16/sub3}">
                <!--              <input type="hidden" name="id" th:value="${customerDto.id}">-->
                <input type="text" name="id" th:value="${customerDto.id}">
            </form>
        </div>

    </div>

</div>
</body>
</html>