<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> /main9/sub4 </h3>

<form action="">

    <!--    연습 : 여러 취미를 중복 선택 가능한 select 요소를 작성해보기 -->
    <select name="hobby" multiple>
        <option value="cook">요리하기</option>
        <option value="play">놀기</option>
        <option value="dance">춤추기</option>
        <option value="swim">수영하기</option>
        <option value="run">달리기</option>
    </select>
    <br>
    <!--    select : 여러 값 중에 선택 가능한 요소 -->
    <select name="country" id="" multiple required>
        <option value="korea" selected>한국</option>
        <option value="us">미국</option>
        <option value="uk">영국</option>
        <option value="japan">일본</option>
        <option value="china" selected>중국</option>
    </select>
    <br>
    <!--    select : 여러 값 중에 선택 가능한 요소 -->
    <select name="fruit" id="">
        <option value="apple">사과</option>
        <option value="melon">멜론</option>
        <option value="mango" selected>망고</option>
        <option value="lemon">레몬</option>
        <option value="banana">바나나</option>
    </select>
    <div>
        <input type="submit">
    </div>
</form>
<hr>

<form action="">
    <div>
        <!--        textarea : 긴 텍스트 작성용 -->
        <textarea name="info3" id="" cols="30" rows="5"
                  placeholder="정보를 입력하세요"
                  required
                  readonly
        ></textarea>
    </div>
    <div>
        <!--        textarea : 긴 텍스트 작성용 -->
        <textarea name="info2" id="" cols="30" rows="10">기본 텍스트 입력</textarea>
    </div>
    <div>
        <!--        textarea : 긴 텍스트 작성용 -->
        <textarea name="info" id="" cols="30" rows="5"></textarea>
    </div>
    <div>
        <input type="text" name="city">
    </div>
    <div>
        <input type="submit" value="전송">
    </div>
</form>
<hr>

<form th:action="@{/main9/sub13}">
    <!--    city age score fruits accepted-->
    <!--    request handler method를 보고 아래 input 요소들 만들기 -->
    <div>
        <label for="input1">도시</label>
        <input type="text" name="city" id="input1" value="서울">
    </div>
    <div>
        <label for="input2">나이</label>
        <input type="number" name="age" id="input2">
    </div>
    <div>
        <label for="input3">점수</label>
        <input type="number" name="score" id="input3" step="0.1">
    </div>
    <div>
        <label for="check1">사과</label>
        <input type="checkbox" id="check1" name="fruits" value="apple">
        <label for="check2">망고</label>
        <input type="checkbox" id="check2" name="fruits" value="mango">
        <label for="check3">멜론</label>
        <input type="checkbox" id="check3" name="fruits" value="melon">
    </div>
    <div>
        <label for="radio-true">
            동의<input type="radio" name="accepted" id="radio-true" checked>
        </label>
        <label for="radio-false">
            미동의<input type="radio" name="accepted" id="radio-false">
        </label>
    </div>

    <input type="submit">
</form>
<hr>

<form action="">
    <!--    required : 필수 입력-->
    <input type="text" name="city" required>
    <!--    multiple : 여러개 선택 가능-->
    <input type="file" name="f" id="" multiple>
    <!--    placeholder : 입력할 값의 hint-->
    <input type="text" name="address" placeholder="주소를 입력하세요.">
    <!--    readonly : 변경 불가-->
    <input type="text" name="name" value="홍길동" readonly>

    <input type="submit">
</form>
<hr>
<form th:action="@{/main9/sub12}">
    <div>
        <!--    연습 : 3개의 country 중에 하나만 선택할 수 있는 radio 버튼 만들기-->
        <!--        (label+input)*3-->
        <label for="input-korea">한국</label>
        <input type="radio" name="country" id="input-korea" value="korea">

        <label for="input-us">미국</label>
        <input type="radio" name="country" id="input-us" value="us">

        <label for="input-jp">일본</label>
        <input type="radio" name="country" id="input-jp" value="japan">

    </div>

    <div>
        <!-- radio button : 같은 name 중에 하나의 값만 선택 가능 -->
        <label for="radio-mango">망고</label>
        <input type="radio" name="fruit" id="radio-mango" value="mango">

        <label for="radio-melon">멜론</label>
        <input type="radio" name="fruit" id="radio-melon" value="melon" checked>

        <label for="radio-apple">사과</label>
        <input type="radio" name="fruit" id="radio-apple" value="apple">

        <input type="submit" value="전송">
    </div>
</form>
<hr>

<form th:action="@{/main9/sub11}">
    <!--    label : 특정 input에 붙인 텍스트 -->
    <label for="input-mango">
        망고
    </label>
    <input type="checkbox" name="fruit" id="input-mango" value="mango">
    <label for="input-melon">
        멜론
    </label>
    <input type="checkbox" name="fruit" id="input-melon" value="melon">
    <label for="input-apple">
        사과
    </label>
    <input type="checkbox" name="fruit" id="input-apple" value="apple">

    <label>
        바나나
        <input type="checkbox" name="fruit" value="banana">
    </label>

    <div>
        <label for="input-text"> <!-- 이름을 누르면 커서가 생김 없으면 입력창을 눌러야함 -->
            이름
        </label>
        <input type="text" id="input-text" name="name" value="머스크">
    </div>
</form>

<hr>
<form th:action="@{/main9/sub10}">
    <div>
        <input type="checkbox" name="hobby" id="" value="baseball"> 야구
        <input type="checkbox" name="hobby" id="" value="basketball"> 농구
        <input type="checkbox" name="hobby" id="" value="football"> 축구
        <input type="checkbox" name="hobby" id="" value="rugby"> 럭비
        <input type="checkbox" name="hobby" id="" value="cook"> 요리
    </div>

    <!--연습 : 체크하면 hello라는 값이 넘어갈 수 있는 checkbox 만들기 -->
    <div>
        <input type="checkbox" name="h" value="hello" checked>
    </div>
    <!--    checkbox-->
    <div>
        <input type="checkbox" name="accept" value="true">
    </div>

    <div>
        <input type="submit" value="전송">
    </div>
</form>

<hr>
<form th:action="@{/main9/sub9}">
    <div>
        <!--        숨겨진 input 요소 -->
        <input type="hidden" name="h" value="숨겨진값">
    </div>
    <div>
        <!--        file -->
        <input type="file" name="f">
    </div>
    <div>
        <!--        email -->
        <input type="email" name="mail">
    </div>
    <div>
        <!--        날짜와 시간 -->
        <input type="datetime-local" name="start">
    </div>
    <div>
        <!--        날짜 -->
        <input type="date" name="birth">
    </div>
    <div>
        <!--        password field-->
        <input type="password" name="pw">
    </div>
    <div>
        <!--        text field-->
        <input type="text" name="name">
    </div>
    <div>
        <!--        number field-->
        <input type="number" min="0" max="10" step="0.1" name="score">
    </div>

    <div>
        <!--        submit 버튼 -->
        <input type="submit">
    </div>
</form>
<hr>

<form th:action="@{/main9/sub8}">
    <!--    value 속성 : 기본값 적용 -->
    <input type="text" name="address" value="seoul">
    <!--    연습 :
    name, age 요청 파라미터를 작성할 수 있는
    input 요소 만들기
    name의 기본값은 홍길동
    age의 기본값은 1로 적용
    -->
    <input type="text" name="name" value="홍길동">
    <input type="text" name="age" value="1">

    <button>저장</button>
</form>
<hr>

<form th:action="@{/main9/sub7}">

    <!--    input 으로 만든 submit 버튼-->
    <input type="submit">
    <!--    button 으로 만든 submit 버튼 -->
    <button>저장</button>

    <!--    그냥 버튼들-->
    <input type="button" value="그냥1">
    <button type="button">그냥2</button>
</form>
<hr>
<!-- 연습 -->
<!-- form 요소를 만들어보기 -->
<!-- submit 버튼을 클릭하면 /main9/sub6 에-->
<!-- address, age, city 요청 파라미터가 전송될 수 있게 -->

<!-- form 요소를 만들어보기 -->
<!-- /main9/sub6의 요청경로에서 일하는 request handler method 만들기-->

<form th:action="@{/main9/sub6}">
    <input type="text" name="address">
    <input type="text" name="age">
    <input type="text" name="city">
    <input type="submit">
</form>

<hr>

<!-- form : 사용자가 입력한 내용을 쿼리스트링에 붙여서 요청을 보냄 -->
<!-- action 속성 : 쿼리스트링(request parameters)를 어디로 보낼 지 결정 -->
<form th:action="@{/main9/sub5}">
    <!--    form 요소들(input, textarea, select 등등) : request parameter를 완성하는 요소 -->
    <!--    input, type=text -->
    <!--    name 속성 : request parameter의 이름 -->
    <div>
        <input type="text" name="keyword">
    </div>
    <div>
        <input type="text" name="email">
    </div>

    <!-- submit button : 클릭하면 form 내의 요소들로 쿼리 스트링을 만들어서 action으로 요청 보냄-->
    <div>
        <input type="submit" value="저장">
    </div>

</form>

</body>
</html>