<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:text="${people[0].model}">Lorem.</h1>
<h1 th:text="${people[0].age}">Et.</h1>
<h1 th:text="${people[0].married}">Ipsa!</h1>
<h1 th:text="${people[1].model}">Adipisci.</h1>
<h1 th:text="${people[1].age}">Dolor.</h1>
<h1 th:text="${people[1].married}">Neque?</h1>
<h1 th:text="${people[2].model}">Corporis!</h1>
<h1 th:text="${people[2].age}">Maxime!</h1>
<h1 th:text="${people[2].married}">Tempore.</h1>
</body>
</html>