<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:text="${aiList[0].name}">Lorem.</h1>
<h1 th:text="${aiList[0].birthDate}">Facilis.</h1>
<h1 th:text="${aiList[0].price}">Dolorum?</h1>
<h1 th:text="${aiList[1].name}">Laboriosam!</h1>
<h1 th:text="${aiList[1].birthDate}">Rem.</h1>
<h1 th:text="${aiList[1].price}">Suscipit?</h1>
<h1 th:text="${aiList[2].name}">Asperiores?</h1>
<h1 th:text="${aiList[2].birthDate}">Veritatis.</h1>
<h1 th:text="${aiList[2].price}">Pariatur.</h1>
</body>
</html>