<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- 연습 : 이 html을 보고 (MyBean053) dto와 request handler method 만들기-->
<h1 th:text="${val.weight}">Lorem.</h1>
<h1 th:text="${val.info}">Necessitatibus!</h1>
<h1 th:text="${val.studentNumber}">Hic?</h1>
<h1 th:text="${val.married}">Ut.</h1>
<hr>
<h1 th:text="${val['weight']}">Pariatur?</h1>
<h1 th:text="${val['info']}">Qui?</h1>
<h1 th:text="${val['studentNumber']}">Est!</h1>
<h1 th:text="${val['married']}">Saepe.</h1>
<hr>
<h1>Similique?</h1>
<h1>Commodi.</h1>
<h1>Odio.</h1>
<h1>Explicabo.</h1>
<h1>Culpa!</h1>
<h1>Repudiandae?</h1>
<h1>At.</h1>
<h1>Iusto.</h1>
<h1>Sed.</h1>
<h1>Aperiam?</h1>
<h1>Dolorum.</h1>
<h1>Ab!</h1>
</body>
</html>