<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 th:text="${list}">Lorem.</h1>
<h1 th:text="${list[0]}">Suscipit.</h1>
<h1 th:text="${list[1]}">Mollitia?</h1>
<h1 th:text="${list[2]}">Beatae!</h1>
<h1 th:text="${list[3]}">Maxime!</h1>
<!--<h1 th:text="${list[4]}">Distinctio?</h1>-->
<h1>Iste?</h1>
<h1>Eos?</h1>
<h1>Vel.</h1>
<h1>Adipisci.</h1>
<h1>Fuga.</h1>
<h1>Non?</h1>
<h1>Sunt?</h1>
<h1>Aliquam.</h1>
<h1>Officia?</h1>
<h1>Est.</h1>
<h1>Quidem?</h1>
<h1>Labore.</h1>
<h1>Fugiat!</h1>
<h1>Quibusdam!</h1>
</body>
</html>