<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h3>미국, 영국에 사는 고객이름과 국가</h3>
<table>
    <thead>
    <tr>
        <th>고객 이름</th>
        <th>고객 도시</th>
        <th>고객 국가</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="list : ${customerList}">
        <td th:text="${list['CustomerName']}"></td>
        <td th:text="${list['City']}"></td>
        <td th:text="${list['Country']}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>