<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .image {
      width: 100%;
    }
  </style>
</head>
<body>
<!--
/main8/sub4?animal=tiger
/main8/sub4?animal=bear
/main8/sub4?animal=eagle
 3개의 링크 만들기-->
<a href="" th:href="@{/main8/sub4(animal='tiger')}">호랑이</a>
<a href="" th:href="@{/main8/sub4(animal='bear')}">곰</a>
<a href="" th:href="@{/main8/sub4(animal='eagle')}">독수리</a>
<hr>

<img src="../../static/images/tiger.jpg" alt="" class="image"
     th:if="${animal != null}"
     th:src="@{'/images/' + ${animal} + '.jpg'}">
</body>
</html>